.ngt-backers {
	background-color: $white;
}

.ngt-poster {
	margin-top: 3.11em;
	padding: 0 2em 2em 0;
	width: 311px;
}
.ngt-names {
	margin: 2em 0 4em;
	color: $black-transparent-90;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0.45;
	text-shadow: 2px 2px 0px $pink;
	font-size: 0.666em;
	text-align: justify;
}