.ngt-contact-me {
    margin: 1.2em 0 0.3em;
    background-color: $black-transparent-80;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.666em;
    transform: rotateZ(-1deg);
}