/* NEVER GET TIRED title sizes for Tablet/Mobile */
@media only screen and (max-width: 850px) {
	.ngt-title img {
		max-height: 120px;
	}
}
@media only screen and (max-width: 720px) {
	.ngt-title img {
		max-height: 100px;
	}
}
@media only screen and (max-width: 400px) {
	.ngt-title img {
		max-height: 60px;
	}
}

/* Page width */
@media only screen and (max-width: 959px) {
	.ngt-max-width, .ngt-footer-text-container {
		padding-left: 3em;
		padding-right: 3em;
	}
	
	h2 {
		font-size: 2.6em;
	}
}
@media only screen and (max-width: 400px) {
	h2 {
		font-size: 2.1em;
	}
}

/* Footer fixes */
@media only screen and (max-width: 480px) {
	footer {
		font-size: 0.8em;
	}
}

/* Font sizes */
@media only screen and (max-width: 850px) {
	body {
		font-size: 14px;
	}
}